click
cffi
colorama
mozjpeg_lossless_optimization
orjson>=3.10.7
opencv-python
numpy
piexif
gradio==4.44.1
huggingface-hub==0.24.5   # 添加或修改这一行，锁定一个已知兼容的版本
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
onnxruntime==1.19.2
