click
cffi
colorama
mozjpeg_lossless_optimization
orjson>=3.10.7
opencv-python
numpy
piexif
gradio==4.44.1           # 保持官方版本，确保 WebUI 功能正常
huggingface-hub==0.24.5  # 仅锁定引发冲突的依赖版本
opencv-python==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
onnxruntime==1.19.2
